<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
	"http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>

	<settings>
		<setting name="mapUnderscoreToCamelCase" value="true" />
	</settings>

	<typeAliases>
		<typeAlias type="com.hanbit.tutor.core.vo.ScheduleVO" alias="ScheduleVO" />
		<typeAlias type="com.hanbit.tutor.core.vo.MemberVO" alias="MemberVO" />
		<typeAlias type="com.hanbit.tutor.core.vo.FileVO" alias="FileVO" />
		<typeAlias type="com.hanbit.tutor.core.vo.OrderVO" alias="OrderVO" />
		<typeAlias type="com.hanbit.tutor.core.vo.OrderDetailVO" alias="OrderDetailVO" />
	</typeAliases>

</configuration>