.member-box {
	display: inline-block;
	width: 200px;
	border: 1px solid #999;
}

.member-box-center {
	text-align: center;
}

.member-name {
	height: 100px;
	border-bottom: 1px solid #999;
}

.member-email {

}

.member-paging {
	text-align: center;
}

.member-paging-number {
	display: inline-block;
	border: 1px solid #999;
	border-radius: 5px;
	width: 40px;
	cursor: pointer;
}